* {
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", serif;
    box-sizing: border-box;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background: linear-gradient(darkslategray, black);
    height: 100vh;
}

#container {
    margin: 20px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    background-color: black;
    opacity: 50%;
    height: 100px;
    max-height: 15vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid lightslategray;
    border-radius: 10px;
    background-color: slategray;
    opacity: 70%;
}

#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animate {
    animation: jump 0.5s ease-in-out;
}

#obstacle {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 400px;
    animation: none;
}

@keyframes obstacle {
    0% {
        left: 400px;
    }
    100% {
        left: -20px;
    }
}

@keyframes jump {
    0% {
        top: 150px;
    } 30% {
        top: 100px;
  } 70% {
        top: 100px;
    } 100% {
        top: 150px;
    }
}

#shop {
    width: 250px;
    height: auto;
    display: block;
}

.head {
    background-color: aliceblue;
    border-radius: 20px;
    opacity: 20%;
    height: 30px;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game-head {
  width: 500px;
  font-size: 0.6rem;
}

h1 {
    font-size: 1.2rem;
}

#shop-stuff {
    height: 170px;
    width: 200px;
    background-color: lightslategray;
    opacity: 70%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.shop-item {
    background-color: darkslategray;
    border-radius: 10px;
    height: 25%;
    width: 40%;
    cursor: pointer;
}

.skin {
    cursor: pointer;
    z-index: 10;
}

.shop-item:nth-of-type(1) {
    background: linear-gradient(#ff9a9e, #fad0c4);
}

.shop-item:nth-of-type(2) {
    background: linear-gradient(#a18cd1, #fbc2eb);
}

.shop-item:nth-of-type(3) {
    background: linear-gradient(#ffecd2, #fcb69f);
}

.shop-item:nth-of-type(4) {
    background: linear-gradient(#667eea, #764ba2);
}

.shop-item:nth-of-type(5) {
    background: linear-gradient(#89f7fe, #66a6ff);
}

.shop-item:nth-of-type(6) {
    background: linear-gradient(#fddb92, #d1fdff);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

#question-text {
  font-size: 3rem;
  color: aliceblue;
  margin: 30px;
}